<!-- Archivo parcial para mostrar el footer -->

<header class="common-header">
    <section class="common-header-left">
        <button class="common-btn-white" id="hamMenu">            
            <a href="/"><i class="fas fa-bars"></i></a>
        </button>
        <div class="menu">
            <a href="#">HOME</a>
            <a href="#">MASCULINO</a>
            <a href="#">FEMENINO</a>
            <a href="#">NIÑOS</a>
            <a href="#">LOGIN</a>
        </div>
    </section>
    
    <section class="common-header-right"><button class="common-btn-white">
        <a href="/users/login"><i class="fa fa-user-circle"></i></a>
        </button>        
        <div class="logo">
            <img src="/images/logo.png" alt="Logo Solo Calzado"> 
        </div>
    </section>
</header>

<!-- <header class="common-header">
    <section class="common-header-left">        
        <button class="common-btn-white">
            <a href="/"><i class="fas fa-bars"></i></a>
        </button>
    </section>    
    <section class="common-header-right">
        <button class="common-btn-white">
            <a href="/users/login"><i class="fa fa-user-circle"></i></a>
        </button>
        <button class="common-btn-white">
        <i class="far fa-image"></i>
        </button>
        <button class="common-btn-white">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </button>

    </section>
</header> -->

