<!-- Archivo parcial para mostrar el footer -->

<header class="common-header">           
        <section class="common-header-left">
            <button class="common-btn-white" id="hamMenu">            
                <a href="/"><i class="fas fa-bars hamburger"></i></a>
            </button>
            <div class="logo">
                <a href="/">
                <img src="/images/site/logo-small-fit.png" alt="Logo Solo Calzado"> 
                </a>
            </div>
        </section>
    <div class="common-header-center-right-container">
        <section class="common-header-center">            
            
        </section>    
        <section class="common-header-right">
            <button class="common-btn-white">
            <a href="/users/login"><i class="fa fa-user-circle"></i></a>
            </button> 
            <button class="common-btn-white">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
            </button>                       
        </section>
    </div>
    <section class="common-header-nav-bar">
        <ul>
            <li>Categorías</li>
            <li>Masculino</li>
            <li>Femenino</li>
            <li>Niños</li>
            <li>Liquidación</li>
        </ul>
    </section>    
</header>

<!-- <header class="common-header">
    <section class="common-header-left">        
        <button class="common-btn-white">
            <a href="/"><i class="fas fa-bars"></i></a>
        </button>
    </section>    
    <section class="common-header-right">
        <button class="common-btn-white">
            <a href="/users/login"><i class="fa fa-user-circle"></i></a>
        </button>
        <button class="common-btn-white">
        <i class="far fa-image"></i>
        </button>
        <button class="common-btn-white">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </button>

    </section>
</header> -->

