<!-- Archivo parcial para mostrar el footer -->

<header class="common-header">           
        <section class="common-header-left">
            <button class="common-btn-white" id="hamMenu">            
                <a href="/"><i class="fas fa-bars hamburger"></i></a>
            </button>
            <div class="logo">
                <a href="/">
                <img src="/images/site/logo-small-fit.png" alt="Logo Solo Calzado"> 
                </a>
            </div>
        </section>
    <div class="common-header-center-right-container">
        <section class="common-header-center">            
            
        </section>  

        <section class="common-header-right">

        <% if (!locals.logged) { %>
    
                <div style="display: flex; flex-direction:column;align-items:center; font-size: 0.5rem;">
                    <button class="common-btn-white">
                    <a href="/users/login">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                    </button> 
                    Log In
                </div>
        
        <% } else { %> 

            
                <div style="display: flex; flex-direction:column;align-items:center; font-size: 0.5rem;">
                    <button class="common-btn-white">
                    <a href="/users/profile">                        
                        <img class="header-avatar" src="/images/avatars/<%= locals.loggedImage %>">
                    </a>
                    </button> 
                    <%= locals.loggedUsername %>
                </div>
                
                <div style="display: flex; flex-direction:column;align-items:center; font-size: 0.5rem;">
                <button class="common-btn-white">              
                    <a href="/users/logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>            
                </button>
                Log Out
                </div>
            
        <%  } %> 
                <div style="display: flex; flex-direction:column; align-items:center;font-size: 0.5rem;">
                <button class="common-btn-white">
                    <a href="/products/productCart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </button>    
                Shop Cart
                </div>     

        </section>

    </div>
    <section class="common-header-nav-bar">
        <ul class="header-categories">
            <a href="/products"><li>Productos</li></a>
            <a href="/products/?gender=3"><li>Masculino</li></a>
            <a href="/products/?gender=2"><li>Femenino</li></a>
            <a href="/products/?gender=1"><li>Niños</li></a>
            <a href=""><li>Liquidación</li></a>
        </ul>
    </section>    
</header>

<!-- <header class="common-header">
    <section class="common-header-left">        
        <button class="common-btn-white">
            <a href="/"><i class="fas fa-bars"></i></a>
        </button>
    </section>    
    <section class="common-header-right">
        <button class="common-btn-white">
            <a href="/users/login"><i class="fa fa-user-circle"></i></a>
        </button>
        <button class="common-btn-white">
        <i class="far fa-image"></i>
        </button>
        <button class="common-btn-white">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </button>

    </section>
</header> -->

