<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/922a66722e.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/styles.css">
    <title>Solo Calzado</title>
</head>
<body>
    <header class="common-header">
        <section class="common-header-left">
            <button class="common-btn-white">
                <i class="fas fa-bars"></i>
            </button>
        </section>
        <section class="common-header-center">

        </section>
        <section class="common-header-right">
            <button class="common-btn-white">
            <i class="far fa-image"></i>
            </button>
        </section>
    </header>
    <main class="index-main">
        <h1>CATEGORIAS</h1>
        <section class="index-categorias">
            <div class="masculino">
                <img src="./img/masculino.jpg" alt="Masculino">
                <p>MASCULINO</p>
            </div>
            <div class="ninios">
                <img src="./img/ninos.jpg" alt="Niños y Niñas">
                <p>NIÑAS Y NIÑOS</p>
            </div>
            <div class="femenino">
                <img src="./img/femenino.jpg" alt="Femenino">
                <p>FEMENINO</p>
            </div>
        </section>
        <h2>MÁS VENDIDOS</h2>
        <section class="index-mas-vendidos">
            <div class="index-mas-vendidos-img-container">
                <img class="1" src="./img/sn-1.jpg" alt="">
                <img class="2" src="./img/sn-2.jpg" alt="">
                <img class="3" src="./img/sn-3.jpg" alt="">
            </div>
        </section>
    </main>
    <footer class="common-footer">
        <section class="common-footer-left">
           <button class="common-btn-white">
                <i class="far fa-image"></i>
            </button> 
        </section>
        <section class="common-footer-center">
            Todos los derechos reservados
            <i class="far fa-registered"></i>
        </section>
        <section class="common-footer-right">                            
        </section>
    </footer>

</body>
</html>