<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/922a66722e.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Inicio Sesión</title>
</head>
<body>
    <header class="common-header">
        <section class="common-header-left">
            <button class="common-btn-white">
                <i class="fas fa-bars"></i>
            </button>
        </section>
        <section class="common-header-center">

        </section>
        <section class="common-header-right">
            <button class="common-btn-white">
            <i class="far fa-image"></i>
            </button>
        </section>
    </header>
    <main class="login-main">
        <div class="wellcome">
            <h3>Hola! Ingresá tu nombre de usuario o email y contraseña para continuar
            </h3>
        </div>
        <form action="#" method="" class="login-form">
            <div class="usuario">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario">
            </div>
            <div class="password">
                <label for="password">Contraseña</label>
                <input type="password" name="password"> <span><i class="far fa-eye" id="pass-eye"></i></span>
                <p>Olvidé mi contraseña</p>
            </div> 
            <div class="remember">
                <input type="checkbox" name="remember-password" value="remember-password"><label for="remember-password">Recordar contraseña</label>
            </div>
            <div class="ingreso">
                <button type="submit" value="INGRESAR">INGRESAR</button>
                <span>O</span>
                <a href="#">Crear Cuenta</a>
            </div>
            
        </form>
    </main>
    <footer class="common-footer">
        <section class="common-footer-left">
           <button class="common-btn-white">
                <i class="far fa-image"></i>
            </button> 
        </section>
        <section class="common-footer-center">
            Todos los derechos reservados
            <i class="far fa-registered"></i>
        </section>
        <section class="common-footer-right">                            
        </section>
    </footer>
</body>
</html>