<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart.html</title>
    <link href="css/styles.css" rel="stylesheet"/>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">


</head>
<body>
    <header class="common-header">
        <section class="common-header-left">
            <button class="common-btn-white">
                <i class="fas fa-bars"></i>
            </button>
        </section>
        <section class="common-header-center">

        </section>
        <section class="common-header-right">
            <button class="common-btn-white">
            <i class="far fa-image"></i>
            </button>
        </section>
    </header>

    <main class="detalle-main">
        <!-- <section>
            <div class="detalle-titulo">Detalle del Producto</div>
        </section>    -->    

        <section>
        <article>
            <ul class="detalle-producto">
                <li class="detalle-imagen-container">
                    <img src="./images/zapatilla001.png" alt="Imagen de una zapatilla">
                </li>
                <div class="detalle-resto-container-1">
                    <li class="detalle-minifoto">
                        <img src="./images/zapatilla002.png" alt="Imagen de una zapatilla">
                    </li>
                    <li class="detalle-minifoto">
                        <img src="./images/zapatilla003.png" alt="Imagen de una zapatilla">
                    </li>                    
                    <li class="detalle-minifoto">
                        <img src="./images/zapatilla004.png" alt="Imagen de una zapatilla">
                    </li> 
                </div>
                <div class="detalle-resto-container-2">

                    <li class="detalle-descripcion-titulo-gris">Descripción</li>
                    <li class="detalle-talles-titulo">Talles</li>                   

                    <!-- <li class="detalle-descripcion">Zapatilla baja look urbano, confeccionada en canvas con wingflash raeaizado en PU a contratono, interior towel, suela con frente texturado de goma y cordones de algodón al tono.
                    </li>    -->
                    
                    <li class="detalle-talles"> 
                        <div class="detalle-unidades-subcontainer">
                            <button class="detalle-btn-white">37</button>
                            <button class="detalle-btn-white">38</button>                            
                            <button class="detalle-btn-white">39</button>
                            <button class="detalle-btn-white">40</button>                            
                            <button class="detalle-btn-white">41</button>
                            <button class="detalle-btn-white">42</button>                            
                            <button class="detalle-btn-white">43</button>                            
                        </div>
                    </li>  
                    <li class="detalle-botones-inferiores">
                        <div class="detalle-botones-inferiores-subcontainer">
                            <button class="detalle-btn-black"> AGREGAR AL CARRITO </button>                    
                        </div>
                        <div class="detalle-botones-inferiores-subcontainer">
                            <button class="detalle-btn-black"> AGREGAR A LA WISHLIST </button>                    
                        </div>
                    </li>                            
                          

                </div>
            </ul>
        </article>

    </main>

    <footer class="common-footer">
            <section class="common-footer-left">
               <button class="common-btn-white">
                    <i class="far fa-image"></i>
                </button> 
            </section>
            <section class="common-footer-center">
                Todos los derechos reservados
                <i class="far fa-registered"></i>
            </section>
            <section class="common-footer-right">
                                
            </section>
    </footer>
    
</body>
</html>