<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register.html</title>
    <link href="./css/styles.css" rel="stylesheet" />
    <link href="./css/register.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/922a66722e.js" crossorigin="anonymous"></script> 
    <link
      href="https://fontawesome.com/v5.15/icons/bars?style=solid"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head> -->

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart.html</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>


  <body>
    <header class="register-header">
      <section class="register-header-left">
        <button class="register-btn-white">
          <i class="fas fa-bars"></i>
        </button>
      </section>
      <section class="register-header-center"></section>
      <section class="register-header-right">
        <button class="register-btn-white">
          <i class="far fa-image"></i>
        </button>
      </section>
    </header>
    <main>
      <h2 class="register-bienvenidos">Bienvenidos a Solo Calzado!</h2>
      <br />
      <h2 class="register-crea-cuenta">Crea tu cuenta gratis</h2>
      <div class="register-formulario">
        <form action="/" method="GET">
          <label for="Nombre">Nombre</label><br />
          <input type="text" name="Nombre de usuario" /><br />
          <label for="Apellido">Apellido</label><br />
          <input type="text" name="Apellido" /><br />
          <label for="email">E-mail</label><br />
          <input type="email" name="email" /><br />
          <label for="telefono">Teléfono</label><br />
          <input type="tel" name="telefono" /><br />
          </div>
          <button class="register-siguiente" type="submit">SIGUIENTE</button>
        </form>
      
    </main>
    <footer class="register-footer">
      <section class="register-footer-left">
        <button class="register-btn-white">
          <i class="far fa-image"></i>
        </button>
      </section>
      <section class="register-footer-center">
        Todos los derechos reservados
        <i class="far fa-registered"></i>
      </section>
      <section class="register-footer-right"></section>
    </footer>
  </body>
</html>
