body{
    font-family: Quicksand;
    font-size: 14px;
    }
    
    /* HEADER */
    
    .detalle-header
    {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .detalle-header i {
        font-size: 36px;
    }
    
    .detalle-header-left, .detalle-header-right {
        width: 20%;
        text-align: center;
    }
    
    .detalle-header-center{
        width: 60%;
    }
    
    /* MAIN */
    
    .detalle-main
    {    
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
    }
    
    .detalle-titulo
    {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;   
    }
    
    .detalle-total-a-pagar {
        text-align: right;
    }
    
    /* .lista-titulos {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;  
        justify-content: flex-start;     
    } */
    
    .detalle-btn-trash {
        border: 0px solid black;
        background-color:gainsboro;
        color: black;
        padding: 5px 5px;   
        cursor: pointer;
      }
    
    .detalle-btn-white {
        border: 0px solid black;
        background-color:white;
        color: black;
        padding: 5px 3px;
        margin: 0px;   
        cursor: pointer;    
        font-size: 1rem;
     } 
     
     .detalle-btn-black {
        border: 0px solid white;
        background-color:black;
        color: white;
        padding: 5px 5px;
        margin: 0px;   
        cursor: pointer;  
        width: 100%;  
        border-radius: 4px;
        margin-bottom: 5px;
        padding: 10px;
     } 
    
    .detalle-producto {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none; 
        flex-direction: row;      
        justify-content: flex-start;
        padding: 10px;            
        margin-bottom: 5px;
    }
    
    .detalle-imagen-container
    {
    width: 100%;    
    text-align: center;
    }
    
    .detalle-producto li img {
        width: 100%;    
        max-width: 350px; 
    }
    
    .detalle-resto-container-1
    {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .detalle-minifoto
    {
    width: 33%;
    max-width: 114px; 
    }

    .detalle-resto-container-2
    {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .detalle-descripcion-titulo, .detalle-talles-titulo
    {
    width: 40%;
    text-align: center;    
    margin-right: 2px;
    max-width: 300px;
    padding: 5px;
    margin-bottom: 10px;

    border-bottom: 1px solid gray;
    }

    .detalle-descripcion-titulo-gris, .detalle-talles-titulo-gris
    {
    width: 40%;
    text-align: center;    
    margin-right: 2px;
    max-width: 300px;
    padding: 5px;    
    margin-bottom: 10px;

    color: gray;
    }

    /* .detalle-talle-titulo
    {
    width: 40%;
    text-align: center;
    border-bottom: 1px solid gray;
    margin-left: 2px;
    max-width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    } */

    .detalle-descripcion
    {
    width: 81%;
    padding: 0px 5px 5px 5px;
    max-width: 640px;    
    } 

    .detalle-talles
    {
    width: 71%;
    text-align: center;
    }

    .detalle-botones-inferiores-subcontainer
    {
        margin: auto;
        width: 100%;
        max-width: 210px;  
    }
    
    .detalle-unidades-subcontainer
    {
    margin: auto;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    max-width: 210px; 
    margin-top: 5px; 
    margin-bottom: 5px;    
    }
    
    .detalle-number
    {
    text-align: center;    
    }
    
    .detalle-botones-inferiores
    {
        width: 71%;
        text-align: center;            
    }    

    /* FOOTER */
    
    .detalle-footer
    {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .detalle-footer i {
        font-size: 36px;
    }
    
    .detalle-footer-left, .detalle-footer-right {
        width: 20%;
        text-align: center;
    }
    
    .detalle-footer-center{
        width: 60%;
        text-align: center;
    }
    
    .detalle-footer-center .fa-registered {
        font-size: 12px;
        display: block;
    }
    
    
    