* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid gray; */
}

/* HEADER */

.common-header
{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.common-header i {
    font-size: 36px;
}

.common-header-left, .common-header-right {
    width: 20%;
    text-align: center;
}

.common-header-center{
    width: 60%;
}



/* INDEX */

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-main h1,h2 {
    margin: 1rem;
    text-align: center;
}

.index-main section div {
    width: 100%;
    height: 212px;
    max-width: 800px;
    position: relative;
}

.index-main section div img {
    width: 100%;
}

.index-categorias div p {
    width: 80%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: auto;
    background-color: rgba(128, 128, 128, .5);
    border-radius: 1rem;
    padding: 1rem ;
}

.index-mas-vendidos {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.index-mas-vendidos-img-container {
    margin: 1rem 0;
}


/* LOGIN */

.login-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-main div.wellcome {
    width: 80%;
    margin: .5rem auto;
    position: relative;
    bottom: 3rem;
}

.login-main div.wellcome h3 {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 1rem;
}

.login-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: .75rem;
}

.login-form div label {
    position: absolute;
    top: -1.25rem;
    left: 3.5rem;
}
.login-form input, button {
    width: 60%;
    max-width: 400px;
    height: 3rem;
}

.login-form div.remember {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form div.remember label {
    position: static;
    padding: 0 .5rem;
}

.login-form input[type="checkbox"]{
    width: 1rem;
}

.login-form .password {
    position: relative;
}

.login-form .password p{
    font-size: .7rem;
}

#pass-eye{
    position: absolute;
    bottom: 2rem;
    right: 4rem;
}


/* FOOTER */

.common-footer
{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.common-footer i {
    font-size: 36px;
}

.common-footer-left, .common-footer-right {
    width: 20%;
    text-align: center;
}

.common-footer-center{
    width: 60%;
    text-align: center;
}

.common-footer-center .fa-registered {
font-size: 12px;
display: block;
}