<%- include('../partials/head') %>
<div class="container-404">
    <h1>Error 404</h1>
    <div class="imagen-404">
        <img src="/images/404.png" alt="404">
        <p>Tranqui, es solo un error, volvamos a empezar :)</p>
    </div>
    <button><a href="/">VOLVER AL INICIO</a></button>
</div>