<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="index-main">
        <h2>MÁS VENDIDOS</h2>
            <div id="index-carrousel"></div>
        <h2>CATEGORIAS</h2>
        <section class="index-categorias">
            <div class="masculino">
                <img src="/images/masculino_resize.jpg" alt="Masculino">
                <a href="/products"><p>MASCULINO</p></a>
            </div>
            <div class="ninios">
                <img src="/images/ninos_resize.jpg" alt="Niños y Niñas">
                <a href="/products"><p>NIÑAS Y NIÑOS</p></a>
            </div>
            <div class="femenino">
                <img src="/images/femenino_resize.jpg" alt="Femenino">
                <a href="/products"><p>FEMENINO</p></a>
            </div>
            
        </section>
        <!-- 
        <div id="index-carrousel"></div> -->
<!--         
        <section class="index-mas-vendidos">
            <div class="index-mas-vendidos-img-container">
                <img class="1" src="/images/sn-1_resize.jpg" alt="">
                <img class="2" src="/images/sn-2_resize.jpg" alt="">
                <img class="3" src="/images/sn-3_resize.jpg" alt="">
            </div>
        </section> -->
    </main>

<%- include('../partials/footer') %>