<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="index-main">
        <h1>CATEGORIAS</h1>
        <section class="index-categorias">
            <div class="masculino">
                <img src="/images/masculino.jpg" alt="Masculino">
                <a href="/products/productDetail/1/1"><p>MASCULINO</p></a>
            </div>
            <div class="ninios">
                <img src="/images/ninos.jpg" alt="Niños y Niñas">
                <a href="/products/productDetail/2/1"><p>NIÑAS Y NIÑOS</p></a>
            </div>
            <div class="femenino">
                <img src="/images/femenino.jpg" alt="Femenino">
                <a href="/products/productDetail/3/1"><p>FEMENINO</p></a>
            </div>
        </section>
        <h2>MÁS VENDIDOS</h2>
        <section class="index-mas-vendidos">
            <div class="index-mas-vendidos-img-container">
                <img class="1" src="/images/sn-1.jpg" alt="">
                <img class="2" src="/images/sn-2.jpg" alt="">
                <img class="3" src="/images/sn-3.jpg" alt="">
            </div>
        </section>
    </main>

<%- include('../partials/footer') %>