<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="userAccount">
<h1>Hola <%=user.firstName%></h1>
</main>


<button> <a href="/users/logout">LOG OUT</a></button>

<%- include('../partials/footer') %>