<%- include('../partials/head') %>    
<%- include('../partials/header') %>

    <main>
      <h2 class="register-bienvenidos">Bienvenidos a Solo Calzado!</h2>
      
      <h2 class="register-crea-cuenta">Crea tu cuenta gratis</h2>
      <div class="register-formulario">

        <form action="../users/createUser" method="POST" enctype="multipart/form-data">
          
          <div>
            <label for="Nombre">Nombre</label>
            <input type="text" name="Nombre de usuario" />
          </div>

          <div>
            <label for="Apellido">Apellido</label>
            <input type="text" name="Apellido" />
          </div>

          <div>
            <label for="email">E-mail</label>
            <input type="email" name="email" />
          </div>

          <div>
            <label for="telefono">Teléfono</label>
            <input type="tel" name="telefono" />
          </div>
          
          <button class="register-siguiente" type="submit">SIGUIENTE</button>
        </form>

      </div> 

    </main>

<%- include('../partials/footer') %>
