<%- include('../partials/head') %>    
<%- include('../partials/header') %>

    <main class="carrito-main">
        <section>
            <div class="carrito-titulo">Carrito de Compras</div>
        </section>    

        <section id="drawer">
             
            <% // var totalAPagar = 0;
               // listaProductos.forEach(producto => { %>
             <% // -  include('../partials/productCart-article', {producto:producto});  %>             
            <% // totalAPagar += parseInt(producto.price)}); %>            
        </section>

        <section style='display: flex'>
        <button class="carrito-total-a-pagar"> Pagar </button>                   
        </section>
        
    </main>
<script src="/scripts/cart.js"></script>
<%- include('../partials/footer') %>
