<%- include('../partials/head') %>
<%- include('../partials/header') %>
 
<form action="/products/delete?_DELETE" method="POST">
<label for="id">ID de Producto</label>
<input type="number" id="id" name="id">
<input type="submit" value="DELETE">
</form>